/* About.css */

.about-container {
  margin: 4% auto;
  padding: 20px;
}

.founder-introduction {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 150px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 50px;
}

.founder-text {
  box-sizing: border-box;
}
.founder-text span {
  color: blue;
  font-size: 20px;
}
.founder-text h2 {
  font-size: 30px;
  line-height: 50/38 = 7.91666666666667;
  font-weight: bold;
  color: #333;
  font-style: italic;
}

.founder-text p {
  font-family: "Times New Roman", Times, serif;
  color: #666;
  line-height: 24px / 150px = 0.45;
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: justify;
}
.founder-image {
  width: 35%;
  box-sizing: border-box;
}

.founder-image img {
  width: 80%;
  height: auto;
  border-radius: 50%;
}

.ecommerce-details {
  margin: 0 auto;
  padding: 20px;
}
.ecommerce-details h1 {
  color: red;
}
.ecommerce-details h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: none;
}

.ecommerce-details p {
  font-family: "Times New Roman", Times, serif;
  color: #666;
  margin: 20px 0;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.6;
  text-align: justify;
}

/* empolyee policy  */

.emp--policy {
  position: relative;
  min-height: 1px;
  text-align: center;
}
.emp--policy h3 {
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.emp--policy p {
  letter-spacing: 1px;
  line-height: 1.6;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  color: #666;
  font-size: 20px;
  padding: 0 250px;
  margin-bottom: 10%;
}

/* our team members section  */
.our-team--members {
  display: flex;
  flex-wrap: wrap;
}
.team---members {
  width: calc(29% - 20px);
  margin: 2% 40px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: -20px -20px 10px rgba(38, 37, 37, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}
.team---members img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  margin: 20px 0;
  border-radius: 20% 20% 15% 30%;
}
.team---members p {
  margin-top: 10px;
  font-size: 16px;
}

/* our models  */
.meet-our-people {
  display: flex;
  flex-wrap: wrap;
}

.person {
  width: calc(29% - 20px);
  margin: 2% 40px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: -20px -20px 10px rgba(38, 37, 37, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}

.person img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  margin: 20px 0;
  border-radius: 20% 20% 15% 30%;
}

.person p {
  margin-top: 10px;
  font-size: 16px;
}

/* culture section  */
.culture--in--mohshop {
  display: flex;
  justify-content: center;
  align-items: center;
}
.culture--in--mohshop img {
  margin-left: 7%;
}
.culture--text {
  padding: 6%;
}
.culture--text h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 21px;
}
.culture--text h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: inherit;
  color: inherit;
}
.culture--text p {
  color: #848484;
  line-height: 1.7;
  margin: 0 0 10px;
  box-sizing: border-box;
  font-size: 21px !important;
  font-family: "Nunito Sans", sans-serif;
}
.culture--btn button {
  margin: 15px 0px;
  background: #0574d8;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: auto;
  padding: 2% 10%;
  cursor: pointer;
  border-radius: 4px;
}

/* package section  */
.our-packaging {
  background-image: url(../components/image/pack.svg);
  padding: 5%;
  text-align: center;
}
.our-packaging h1 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 3%;
  text-transform: uppercase;
  font-family: inherit;
  color: inherit;
}

.package--details p {
  color: #848484;
  padding: 2% 19%;
  line-height: 1.5;
  font-size: 21px !important;
  font-family: "Nunito Sans", sans-serif;
}
.package--details img {
  width: 75%;
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  border-radius: 4px;
}
.package-btn button {
  color: #333;
  font-size: 16px;
}

/* responsive design  */
@media only screen and (max-width: 1260px) {
  .person,
  .team---members {
    width: calc(33.33% - 40px);
    margin: 15px;
  }
}

@media only screen and (max-width: 1000px) {
  .person,
  .team---members {
    width: calc(50% - 30px);
    margin: 15px;
  }
  .emp--policy p {
    padding: 10px;
  }
  .emp--policy h3 {
    text-align: start;
    font-family: inherit;
    color: inherit;
    font-weight: 600;
  }
}
@media only screen and (max-width: 700px) {
  .person,
  .team---members {
    width: calc(50% - 40px);
    margin: 15px 5px;
  }
  .person img {
    height: 1000px;
  }
  .team---members img {
    height: 1000px;
  }
  .founder-image img {
    width: 200px;
    margin-top: 39%;
  }
  .founder-text h2 {
    width: 400px;
  }
  .founder-text p {
    margin: none;
    width: 500px;
  }
  .founder-introduction {
    justify-content: center;
  }
}
@media only screen and (max-width: 983px) {
  .person,
  .team---members {
    width: calc(100% - 40px);
    margin: 15px 5px;
  }
  .person img {
    height: 1000px;
  }
  .team---members img {
    height: 1000px;
  }
  .founder-introduction {
    justify-content: center;
  }
  .culture--in--mohshop {
    display: block;
    padding-left: 20px;
    align-items: center;
  }
}

/* package  */
@media only screen and (max-width: 1260px) and (min-width: 1024px) {
  .package--details img {
    height: 400px;
  }
  .package--details p {
    padding: 2% 15%;
  }
}
