/* styles/Category.css */

/* Default styles */
.category-main {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-buttons {
  display: flex;
  justify-content: space-around;
  margin: 10px 30px;
}

.category-buttons a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  margin: 0px 10px;
  padding: 10px;
  border: 1px solid #6f95ad;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.5s ease;
}

.category-buttons a:hover {
  color: #fff;
  background-color: #5e3bee;
  transform: scale(1s);
}

/* Responsive styles */
@media only screen and (max-width: 1200px) {
  .category-main {
    margin-top: 12%;
  }
}

@media only screen and (max-width: 992px) {
  .category-main {
    margin-top: 16%;
  }
}

@media only screen and (max-width: 768px) {
  .category-main {
    margin-top: 22%;
  }
}

@media only screen and (max-width: 576px) {
  .category-main {
    margin-top: 26%;
  }
}

@media only screen and (max-width: 450px) {
  .category-main {
    margin-top: 30%;
  }
}
@media only screen and (max-width: 300px) {
  .category-main {
    margin-top: 35%;
  }
}
@media only screen and (max-width: 100px) {
  .category-main {
    margin-top: 40%;
  }
}
