/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .checkout-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 50px auto;
  }
  
  div {
    box-sizing: border-box;
  }
  
  .checkout-container h2 {
    margin-bottom: 20px;
  }
  
  .checkout-container form {
    display: flex;
    flex-direction: column;
  }
  
 .checkout-container label {
    margin-top: 10px;
  }
  
 .checkout-container input,
  textarea {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
  }
  
 .checkout-container button {
    padding: 10px;
    cursor: pointer;
  }
  
  .next-btn,
  .prev-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  .next-btn:hover,
  .prev-btn:hover {
    background-color: #0056b3;
  }
  
  .submit-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
  }
  
  .submit-btn:hover {
    background-color: #218838;
  }
  
  @media (min-width: 768px) {
    .checkout-container {
      flex-wrap: nowrap;
    }
  
    .checkout-container div {
      width: 30%;
    }
  }
  