/* HomeTrending.css */

.home-trendings h1{
  margin: 20px;
}

.dress-trending-slider-text{
    width: 100%;
    background-color: #3498db;
    padding: 10px;
  margin: 10px 0px;

}

.dress-trending-slider-text p{
    color: #fff;
    font-size: 16px;
    margin: 0;
}

.dress-trending-text {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
  margin: 0 20px;

}

.dress-trending-text h2 {
    color: #333;
    font-size: 30px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .dress-trending-text p {
    color: #555;
    align-items: center;
    margin: 10px auto; /* Set auto for left and right margins, centering the text */
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    line-height: 1.6;

  /* margin: 0 20px; */

  }

.trendings-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;

}
.footwear-trending-text {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
  margin: 0 20px;
  }
  
  .footwear-trending-text h2 {
    color: #333;
    font-size: 30px;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .footwear-trending-text p {
    line-height: 1.6;
    color: #555;
    align-items: center;
    margin: 10px auto; /* Set auto for left and right margins, centering the text */
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }

.footWear-trendings-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;

}

.trending-item {
  width: 22%; 
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
  /* padding: 10px;  */
  transition: all 0.5s;
  /* margin: 0 20px; */

}
.trending-item:hover,
.footWear-trending-item:hover {
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
  transform: scale(0.1s);
}

.footWear-trending-item {
  width: 22%;
  margin: 20px 10px;
  box-sizing: border-box;
  position: relative;
  transition: all 0.45s;
}
.footWear-trending-item img {
  /* width: 100%; */
  height: 180px;
  object-fit: cover;
  margin: 20px 0;
}

.trending-item img {
  width: 100%;
  height: 350px; 
  object-fit: cover;
  margin: 20px 0; 
}

.trending-item h3 {
  font-size: 16px; 
  margin: 5px 0; 
  margin: 0 20px;

}

.trending-item h2,
.trending-item p {
  font-size: 14px; 
  margin: 5px 0; 
  /* margin: 0 20px; */

}

.close-button,
.see-more-button {
  margin: auto 10px;
  padding: 10px;
  background-color: #464747;
  color: #fff;
  font-size: large;
  border: none;
  cursor: pointer;
}

.see-more-button:hover,
.close-button:hover {
  background-color: #de8686;
}

@media (max-width: 768px) {
  .trending-item {
    width: 48%; 
  }
  .footWear-trending-item{
    width: 48%;
  }
  .dress-trending-text{
    padding: 15px;
  }
  .dress-trending-text h2 {
    font-size: 20px;
  }

  .dress-trending-text p {
    font-size: 14px;
  }
  .dress-trending-slider-text{
    padding: 5px;
  }
  .dress-trending-slider-text p{
    font-size: 14px;
  }
  .footwear-trending-text h2 {
    font-size: 20px;
  }

  .footwear-trending-text p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .trending-item {
    width: 100%; 
  }
  .footWear-trending-item{
    width: 100%; 
  }
  .dress-trending-text {
    padding: 10px;
  }

  .dress-trending-text h2 {
    font-size: 18px;
  }

  .dress-trending-text p {
    font-size: 12px;
  }
  .footwear-trending-text h2 {
    font-size: 18px;
  }

  .footwear-trending-text p {
    font-size: 12px;
  }
}
