/* MenCategories.css */

.men-Categories {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 20px;
}

.men-btns {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.men-btns button {
  color: black;
  font-size: 16px;
}

.men-sub-category {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.men--menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.men-card {
  width: calc(29% - 20px); /* Adjust the width based on your design */
  margin: 2% 10px; /* Adjust the margins for spacing between cards */
  padding: 20px;
  border-radius: 5px;
  box-shadow: -20px -20px 10px rgba(38, 37, 37, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}

.men-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}

.men-card h2,
.men-card h3,
.men-card p {
  margin: 0;
  text-align: start;
  padding: 5px;
}

.btn button {
  display: block; /* Initially show buttons */
}

.menu-icon {
  display: none; /* Initially hide menu icon */
}

@media only screen and (max-width: 1024px) {
  .men-card {
    width: calc(33.33% - 20px);
    margin: 15px 5px; /* Adjust the margins for spacing between cards */
  }
}

@media only screen and (max-width: 983px) {
  .men-card {
    width: calc(100% - 20px);
    margin: 15px 5px; /* Adjust the margins for spacing between cards */
  }
}

@media only screen and (max-width: 778px) {
  .men-btns button {
    display: none; /* Hide regular buttons on small devices */
  }
  .men-btns {
    margin-top: 30%;
    display: flex;
    justify-content: space-around;
    margin: 30px;
  }
  .menu-icon {
    display: block; /* Show menu icon on small devices */
    font-size: 24px; /* Adjust font size as needed */
    cursor: pointer;
  }
  .men--menu button {
    margin: 0px 20px;
    padding: 6px;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .men--menu bottom:hover {
    color: #ffffff;
    background-color: #5e3bee;
  }
}

@media only screen and (max-width: 500) {
  .men-btns button {
    display: none;
  }
  .menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
  .men--menu button {
    margin: 0px 20px;
    padding: 6px;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .men--menu bottom:hover {
    color: #ffffff;
    background-color: #5e3bee;
  }
}
