/* WomenCategories.css */

.women-categories {
  /* max-width: 1500px; */
  margin: 0 auto;
  padding: 20px;
}

.women-btns {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.women-btns button {
  color: black;
  font-size: 16px;
}
.viewandcart {
  display: flex;
  justify-content: space-around;
  margin: 10px 30px;
}

.viewandcart button {
  color: black;
  font-size: 16px;
  cursor: pointer;
  margin: 0px 5px;
  padding: 7px;
  border: 1px solid #6f95ad;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.5s ease;
}

.viewandcart button:hover {
  color: #fff;
  background-color: #5e3bee;
  transform: scale(1s);
}

.women-sub-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.women-card {
  width: calc(25% - 20px);
  margin: 2% 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: -20px -20px 10px rgba(38, 37, 37, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}

.women-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}

.women-card h2,
.women-card h3,
.women-card p {
  margin: 0;
  /* text-align: center; */
}

.cart-btn-container {
  position: absolute;
  top: 3%;
  left: 50%;
  width: 100%; /* Cover full width */
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.women-card:hover {
  transform: scale(1.05);
}

.women-card:hover .cart-btn-container {
  opacity: 1;
}

@media only screen and (max-width: 650px) {
  .women-sub-category {
    justify-content: center;
  }

  .women-card {
    width: calc(100% - 20px);
    margin: 10px 0;
  }
 .women-btns{
  margin: 20px;
 }
 .women-btns button{
  font-size: 14px;
 }
  .add-to-cart-btn {
    width: auto; /* Adjust for smaller devices */
  }
}
@media only screen and (max-width: 768px) {
  .women-sub-category {
    justify-content: center;
  }

  .women-card {
    width: calc(40.33% - 20px) ;
  }

  .add-to-cart-btn {
    width: auto; /* Adjust for smaller devices */
  }
}
@media only screen and (max-width: 1100px) {
  .women-sub-category {
    justify-content: center;
  }

  .women-card {
    width: calc(40.33% - 20px) ;
  }

  .add-to-cart-btn {
    width: auto; /* Adjust for smaller devices */
  }
}
@media only screen and (max-width: 900px) {
  .women-sub-category {
    justify-content: center;
  }

  .women-card {
    width: calc(50% - 20px) ;
  }

  .add-to-cart-btn {
    width: auto; /* Adjust for smaller devices */
  }
}

.menu-icon {
  display: none; /* Hide menu icon by default */
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999; /* Ensure menu icon is above other content */
  font-size: 24px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .menu-icon {
    display: block; /* Display menu icon for smaller devices */
  }

  .women-btns {
    display: none; /* Hide button container for smaller devices */
  }
}